<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast [visible]="visible" (visibleChange)="onVisibleChange($event)">
    <c-toast-body [class]="color">
      <p>{{ message }}</p>
    </c-toast-body>
  </c-toast>
</c-toaster>
