<ngx-loading [show]="loading"></ngx-loading>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-card class="w-50 p-4">
        <c-card-body>
          <form cForm [formGroup]="loginForm" (submit)="login()">
            <h1>Tạp hóa Duy Phát</h1>
            <p class="text-medium-emphasis">
              Sử dụng tài khoản email của bạn để đăng nhập
            </p>
            <p class="text-danger" *ngIf="errorMessage">
              {{ errorMessage }}
            </p>
            <c-input-group class="mb-3">
              <span cInputGroupText>
                <svg cIcon name="cilUser"></svg>
              </span>
              <input
                autoComplete="username"
                cFormControl
                placeholder="Email"
                formControlName="email"
              />
            </c-input-group>
            <c-input-group class="mb-4">
              <span cInputGroupText>
                <svg cIcon name="cilLockLocked"></svg>
              </span>
              <input
                autoComplete="current-password"
                cFormControl
                placeholder="Mật khẩu"
                type="password"
                formControlName="password"
              />
            </c-input-group>
            <c-row class="text-center mb-3">
              <c-col>
                <button type="submit" cButton class="px-4" color="primary">
                  Đăng nhập
                </button>
              </c-col>
            </c-row>
            <c-row>
              <div class="text-center">
                Chưa có tài khoản? Đăng ký tại
                <a routerLink="/register"> đây </a>
              </div>
            </c-row>
          </form>
        </c-card-body>
      </c-card>
    </c-row>
  </c-container>
</div>
