<div class="d-flex mb-2 flex-row-reverse">
  <button cButton color="primary" (click)="handleAction(ACTION.CREATE)">
    Tạo mới
  </button>
</div>
<c-card>
  <ngx-loading [show]="loading"></ngx-loading>
  <c-card-header>Phiếu bán lẻ</c-card-header>
  <c-card-body>
    <c-row>
      <c-col [md]="6"></c-col>
      <c-col [md]="6">
        <form [formGroup]="filterForm" (submit)="submit()">
          <input
            cFormControl
            type="text"
            placeholder="Nhập mã vạch sản phẩm"
            formControlName="search"
          />
        </form>
      </c-col>
    </c-row>
    <table [striped]="true" cTable>
      <thead>
        <tr>
          <th scope="col">MÃ VẠCH</th>
          <th scope="col">TÊN SẢN PHẨM</th>
          <th style="width: 20%" scope="col">SỐ LƯỢNG</th>
          <th scope="col">GIÁ BÁN</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngIf="listProduct && listProduct.data.length !== 0; else noRecord"
        >
          <tr *ngFor="let product of listProduct.data">
            <td>{{ product.barcode }}</td>
            <td>{{ product.name }}</td>
            <td class="quantity">
              <button
                cButton
                color="danger"
                cTooltip="Giảm"
                (click)="handleAction(ACTION.EDIT)"
              >
                <svg cIcon name="cilMinus" size="sm"></svg>
              </button>
              <input class="w-25" cFormControl id="quantity" />
              <button
                cButton
                color="success"
                cTooltip="Tăng"
                (click)="handleAction(ACTION.DELETE)"
              >
                <svg cIcon name="cilPlus" size="sm"></svg>
              </button>
            </td>
            <td>{{ util.addCommas(product.exportPrice) }}</td>
            <td>
              <button
                cButton
                color="danger"
                cTooltip="Xóa"
                (click)="handleAction(ACTION.DELETE)"
              >
                <svg cIcon name="cilTrash" size="sm"></svg>
              </button>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>Tổng</td>
            <td>{{ util.addCommas(12318239) }}</td>
            <td></td>
          </tr>
        </ng-container>
        <ng-template #noRecord>
          <tr class="text-center">
            <td colspan="7">Danh sách trống</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <!-- <app-paging
      [total]="listProduct.total"
      [currentPage]="listProduct.page"
      [totalPage]="listProduct.totalPage"
      (changePage)="onChangePage($event)"
    ></app-paging> -->
  </c-card-body>
</c-card>
